img{
    width: 100%;
    height: auto;
 }
    body{
background-image:url(https://media.istockphoto.com/photos/dusty-particles-background-image-picture-id1204246901?b=1&k=6&m=1204246901&s=170667a&w=0&h=_RgmNf60aZmn-YazfaEWE6SPaHCNPD5VylLLuZdRr9Y=);
background-repeat: repeat;
background-size: auto;
background-color: ;

color: mintcream;
    }
